section {
    background-color: #1f1f1f;
    color: #f1f1f1;

    .container {
        max-width: 45%;
        min-height: 20dvh;
        background-color: #535353;
        border-radius: 20px;
    }
}
