section {
    background-color: #1f1f1f;
    color: #f1f1f1;
    margin-top: -250px;

    .container {
        max-width: 67%;
        min-height: 20dvh;
        background-color: #535353;
        border-radius: 20px;
    }

    .example-form {
        height: auto;
    }
}
