<section class="p-2">
  <div
    class="container d-flex flex-sm-column flex-md-row justify-content-md-around flex-wrap"
  >
    <div>
      <h1 class="fs-3 fw-bold">
        Discover the amazing world <br />
        of the Pokémons
        <img src="assets/imgs/ball.png" class="pokemon-ball vibrate-1" />
      </h1>
    </div>

    <mat-form-field appearance="fill" class="form">
      <mat-label>Search Pokémon</mat-label>
      <input
        matInput
        placeholder="Charmeleon"
        [(ngModel)]="childValue"
        (input)="sendValue()"
      />
    </mat-form-field>
  </div>
</section>
