<section class="p-2">
  <div
    class="container d-flex flex-sm-column justify-content-sm-center flex-md-row justify-content-md-around align-items-center"
  >
    <div class="">
      <h1 class="fs-2 fw-bold">
        Discover the new world <br />
        of Pokémons
      </h1>
    </div>

    <mat-form-field appearance="fill" class="form">
      <mat-label>Search Pokémon</mat-label>
      <input
        matInput
        placeholder="Charmeleon"
        [(ngModel)]="childValue"
        (input)="sendValue()"
      />
    </mat-form-field>
  </div>
</section>
