<section class="d-flex justify-content-center">
  <div
    class="container d-flex flex-sm-column flex-md-row justify-content-md-around align-items-md-center justify-content-sm-center align-items-sm-center"
  >
    <div>
      <h1 class="fs-2 fw-bold">
        Discover the new world <br />
        of Pokémons
      </h1>
    </div>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Search your Pokémon</mat-label>
        <input matInput placeholder="Pikachu" />
      </mat-form-field>
    </form>
  </div>
</section>
