section {
    background-color: #1f1f1f;
    color: #f1f1f1;
    margin-top: -250px;

    .container {
        max-width: 68%;
        min-height: 20dvh;
        background-color: #535353;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form {
        width: 400px !important;
    }

    .pokemon-ball {
        height: 30px;
    }
}

.vibrate-1 {
    animation: vibrate-1 800ms linear infinite both;
}

@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}
