<section class="pt-5 position-relative pb-2">
  <div class="container text-center">
    <div class="row">
      <div
        class="col-sm-12 col-md-4 col-xl-3 animate__animated animate__zoomIn animation animate__slow"
        *ngFor="let pokemon of filteredPokemons; trackBy: trackById"
        (click)="openDialog(pokemon)"
      >
        <div
          class="card mb-4 ms-auto me-auto pokemon-card"
          [ngClass]="getPokemonType(pokemon)"
          BackgroundStyle
        >
          <h4 class="ms-auto mt-1 me-1 fw-bold">
            {{ pokemon.id.toString().padStart(3, "0") }}
          </h4>
          <img
            [src]="pokemon.sprites.other.home.front_default"
            class="card-img-top"
          />
          <div class="card-body">
            <h3 class="card-title text-center fs-4 fw-bold">
              {{ pokemon.name | titlecase }}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <img
      class="up wobble-ver-right d-none d-xl-block"
      (click)="scrollToTop()"
      src="assets/imgs/up-arrow.png"
    />
    <button
      class="fw-bold mb-4"
      mat-fab
      extended
      color="primary"
      (click)="loadMorePokemons()"
    >
      More Pokémons
    </button>
    <br />

    <div
      class="alert ms-auto me-auto d-flex align-items-center justify-content-center shadow"
      role="alert"
    >
      <span class="">
        Icons made by Flaticon
        <img src="assets/imgs/pikachu.png" class="pikachu"
      /></span>
    </div>
  </div>
</section>
