section {
    background-color: #1f1f1f;
    color: #f1f1f1;

    .card {
        cursor: pointer;

        img {
            height: 150px !important;
            object-fit: contain;
            transition: all ease-in-out 0.8s;

            &:hover {
                transition: all ease-in-out 0.9s;
                transform: translateY(-20px);
            }
        }
    }
}

.normal {
    background-color: #a8a77a;
}

.fire {
    background-color: #ee8130;
}

.water {
    background-color: #6390f0;
}

.electric {
    background-color: #f7d02c;
}

.grass {
    background-color: #7ac74c;
}

.ice {
    background-color: #96d9d6;
}

.fighting {
    background-color: #c22e28;
}

.poison {
    background-color: #a33ea1;
}

.ground {
    background-color: #e2bf65;
}

.flying {
    background-color: #a98ff3;
}

.psychic {
    background-color: #f95587;
}

.bug {
    background-color: #a6b91a;
}

.rock {
    background-color: #b6a136;
}

.ghost {
    background-color: #735797;
}

.dragon {
    background-color: #6f35fc;
}

.dark {
    background-color: #705746;
}

.steel {
    background-color: #b7b7ce;
}

.fairy {
    background-color: #d685ad;
}

.up {
    position: absolute;
    height: 50px;
    right: 10em;
    cursor: pointer;
}

.wobble-ver-right {
    animation: wobble-ver-right 10s both infinite 10s;
}

@keyframes wobble-ver-right {
    0%,
    100% {
        transform: translateY(0) rotate(0);
        transform-origin: 50% 50%;
    }
    15% {
        transform: translateY(-30px) rotate(6deg);
    }
    30% {
        transform: translateY(15px) rotate(-6deg);
    }
    45% {
        transform: translateY(-15px) rotate(3.6deg);
    }
    60% {
        transform: translateY(9px) rotate(-2.4deg);
    }
    75% {
        transform: translateY(-6px) rotate(1.2deg);
    }
}

.alert {
    width: 220px;
    height: 30px;
}

.pikachu {
    height: 30px;
    object-fit: cover;
}

.shadow {
    border-radius: 50px;
    background: #423d3d;
    box-shadow: inset 20px 20px 60px #383434, inset -20px -20px 60px #4c4646;
}

@media (min-width: 270px) and (max-width: 370px) {
    .pokemon-card {
        width: 250px !important;
    }
}
