<section class="d-flex flex-column justify-content-center align-items-start">
  <div class="container">
    <h2 class="mb-3 fw-bold">Welcomt to the</h2>
    <div class="imgs-container d-flex align-items-center">
      <img class="roll-in-right" src="assets/imgs/Pokédex.png" alt="logo" />
      <div class="ms-5">
        <img
          class="pokeball ms-3 roll-in-left roll-in-left-1"
          src="assets/imgs/pokeball.png"
          alt="pokeball"
        />
        <img
          class="pokeball ms-3 roll-in-left roll-in-left-2"
          src="assets/imgs/pokeball.png"
          alt="pokeball"
        />
        <img
          class="pokeball ms-3 roll-in-left roll-in-left-3"
          src="assets/imgs/pokeball.png"
          alt="pokeball"
        />
      </div>
    </div>
  </div>
</section>
