<section>
  <div class="container musicIcons-container d-flex justify-content-end">
    <img
      class="mt-5 me-2"
      src="assets/imgs/icons/play.png"
      alt="play music"
      matTooltip="Click to play music"
      matTooltipPosition="below"
      [ngClass]="{ clicked: isClicked }"
      (click)="playMusic()"
    />
    <img
      class="mt-5"
      src="assets/imgs/icons/stop.png"
      alt="stop music"
      matTooltip="Click to stop music"
      matTooltipPosition="below"
      (click)="stopMusic()"
    />
  </div>

  <div
    class="container d-flex flex-column justify-content-center align-items-sm-center align-items-md-start ms-auto me-auto"
  >
    <h2 class="mb-3 fw-bold">Welcomt to the</h2>
    <div class="imgs-container d-md-flex align-items-center">
      <img
        class="roll-in-right mb-5"
        src="assets/imgs/Pokédex.png"
        alt="logo"
      />
      <div class="ms-5">
        <img
          class="pokeball ms-3 roll-in-left roll-in-left-1"
          src="assets/imgs/pokeball.png"
          alt="pokeball"
        />
        <img
          class="pokeball ms-3 roll-in-left roll-in-left-2"
          src="assets/imgs/pokeball.png"
          alt="pokeball"
        />
        <img
          class="pokeball ms-3 roll-in-left roll-in-left-3"
          src="assets/imgs/pokeball.png"
          alt="pokeball"
        />
      </div>
    </div>
  </div>

  <a href="#" class="text-white fs-2 fw-bolder blink-1"
    >Discover <img src="assets/imgs/enter.png" alt=""
  /></a>
</section>
