section {
    background-color: #1f1f1f;
    font-family: "flexo";
    color: #f5f5f5;
    position: relative;

    .container {
        height: 100vh;
    }

    img {
        max-width: 450px;

        @media (max-width: 576px) {
            max-width: 200px;
        }
    }

    .roll-in-right {
        animation: roll-in-right 0.6s ease-out both;
    }

    @keyframes roll-in-right {
        0% {
            transform: translateX(800px) rotate(540deg);
            opacity: 0;
        }
        100% {
            transform: translateX(0) rotate(0deg);
            opacity: 1;
        }
    }

    .pokeball {
        width: 60px;
    }

    .roll-in-left {
        animation: roll-in-left 0.8s ease-out both;
    }

    .roll-in-left-1 {
        animation-delay: 1.3s;
    }

    .roll-in-left-2 {
        animation-delay: 1s;
    }

    .roll-in-left-3 {
        animation-delay: 0.7s;
    }

    @keyframes roll-in-left {
        0% {
            transform: translateX(-800px) rotate(-540deg);
            opacity: 0;
        }
        100% {
            transform: translateX(0) rotate(0deg);
            opacity: 1;
        }
    }

    a {
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
        text-decoration: none;
        cursor: pointer;

        img {
            width: 50px;

            @media (max-width: 576px) {
                max-width: 33px;
            }
        }
    }

    .blink-1 {
        animation: blink-1 4s infinite both 2s;
    }
    @keyframes blink-1 {
        0%,
        50%,
        100% {
            opacity: 1;
        }
        25%,
        75% {
            opacity: 0;
        }
    }

    @media (max-width: 576px) {
        .pokeball {
            max-width: 40px;
        }
    }

    .musicIcons-container {
        height: unset;

        img {
            width: 35px;
            cursor: pointer;
        }
    }

    .clicked {
        transform: scale(1.3);
    }
}
