<section>
  <div
    class="container d-flex flex-column justify-content-center align-items-start"
  >
    <h2 class="mb-3 fw-bold">Welcomt to the</h2>
    <div class="imgs-container d-md-flex align-items-center">
      <img
        class="roll-in-right mb-5"
        src="assets/imgs/Pokédex.png"
        alt="logo"
      />
      <div class="ms-5">
        <img
          class="pokeball ms-3 roll-in-left roll-in-left-1"
          src="assets/imgs/pokeball.png"
          alt="pokeball"
        />
        <img
          class="pokeball ms-3 roll-in-left roll-in-left-2"
          src="assets/imgs/pokeball.png"
          alt="pokeball"
        />
        <img
          class="pokeball ms-3 roll-in-left roll-in-left-3"
          src="assets/imgs/pokeball.png"
          alt="pokeball"
        />
      </div>
    </div>
  </div>

  <a href="#" class="text-white fs-1 fw-bolder blink-1"
    >Discover <img src="assets/imgs/enter.png" alt=""
  /></a>
</section>
