section {
    height: 100dvh;
    background-color: #1f1f1f;
    color: #fff;

    div {
        height: 100%;

        h1 {
            font-size: 50px;
        }

        h2 {
            font-size: 30px;
            cursor: pointer;
        }

        img {
            height: 60px;
        }
    }
}

.heartbeat {
    animation: heartbeat 3s ease-in-out infinite both;
}

@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }
    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }
    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }
    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }
    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}
