@font-face {
    font-family: "flexo";
    src: url("assets/fonts/Flexo-CapsDEMO.otf") format("woff2");
}

body {
    font-family: "flexo";
}

.clicked {
    transform: scale(1.3);
    transition: all 225ms linear;
}
